body {
    font-family: 'Rubik', sans-serif;
    background:
        fixed center url(../img/bluelight.png);
    background-size: cover;
}

#menuTop {
    line-height: 30px;
    padding: 0.5em 1em;
    background: #27272b;
    border-top: 1px solid #19191b;
    border-bottom: 1px solid #36363b;
    box-shadow: #27272b 0 0 10px;
    cursor: default;
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}
#menuTop .btns {
    font-size: 20px;
    display: inline-block;
    position: absolute;
    right: 1em;
}
#menuTop .btns i {
    cursor: pointer;
}

#social {
    padding: 0.3em;
    font-size: 1.5em;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    z-index: 1;
    position: fixed;
    top: 70px;
    right: 0;
}

#btn_arrowLeft {
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    text-align: center;
    font-size: 22px;
    border-radius: 100%;
    box-sizing: border-box;
    opacity: .0;
    cursor: default;
    transition: .5s;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

#portfolio {
    margin-top: 7em;
    padding: 0 2em;
    overflow: hidden;
    white-space: nowrap;
    transition: .5s;
    position: absolute;
    left: 0;
    right: 0;
}

#portfolio .item, #portfolio .item img, #portfolio .item video {
    width: 300px;
    height: 450px;
}

#portfolio .item video {
    opacity: 0;
    transition: opacity .5s;
}

#portfolio .item {
    margin: 1em;
    margin-top: 3em;
    background: center no-repeat rgba(30, 30, 30, .3);
    background-size: cover;
    cursor: pointer;
    vertical-align: top;
    display: inline-block;
    position: relative;
}
#portfolio .item .bottom {
    box-sizing: border-box;
    line-height: 1em;
    padding: 0.5em;
    text-align: left;
    font-size: 1.6em;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn {
    padding: 5px;
    font-size: 15px;
    cursor: pointer;
    transition: background-color .2s;
    box-sizing: border-box;
    display: inline-block;
}
.btn:hover {
    background-color: rgb(50, 132, 255);
}
